.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  transition:
    background-color 0.3s,
    transform 0.2s;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.addressBlocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.addressBlocks:first-of-type {
  margin-bottom: 80rem;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  transition:
    transform 0.3s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),
    scale 0.3s ease-in;
  scale: 0.9;
  z-index: 30;
  &:hover {
    transform: rotateZ(270deg);
    scale: 1.1;
    transition:
      transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      scale 0.3s ease-in;
  }
}

.addressBlocks:last-of-type {
  margin-top: 20px;
}

.button:hover {
  background-color: #e0e0e0;
}

.button:active {
  transform: translateY(2px);
}

.toastButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 24px;
}

.wallet-connect {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  * {
    font-weight: 400 !important;
  }
}

.migration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: flex-start;

  gap: 30px;
}
.successMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;

  border-radius: 5px;
}

.successMessage > .text {
  margin-bottom: 5px;
}

.successMessage > .button {
  margin-top: 15px;
}
.amount-label {
  margin-right: 8px;
}
.amountIcon {
  margin-left: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

.amount {
  display: flex;
  flex-direction: row;
}

.toastContainer {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  padding: 32px;
  height: 8rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--althea-blue);
  background: var(--card-sub-surface-color, #dfdfdf);
  box-shadow: 6px 6px 0px 0px rgba(17, 17, 17, 0.15);

  &::after {
    height: 9px;
    border-right: 1px solid var(--primary-90-color);
    position: absolute;
    left: 58.6%;
  }
}

.toastCaption {
  margin-top: 0px;
}
