.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1080px !important;
  margin: 60px auto 10px auto;

  position: relative;
  padding: 2rem 36px 0 36px;
  min-height: 100vh;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1080px !important;
  margin: 10px auto;

  position: relative;
  padding-top: 2rem;
  min-height: 100vh;
}

.title {
  font-size: 32px !important;
  text-align: left;
}
.middleText {
  padding: 10px 16px 10px 16px;
  background-color: var(--text-dark-color) !important;
}

@media screen and (max-width: 768px) {
  .container {
    width: calc(100vw);
    //gap: 1rem;
    padding: 1rem 24px 0px 24px;

    margin: 140px auto 10px auto;

    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }
  .header {
    // justify-content: space-between;
    // width: 100%;
  }
}
