.container {
  display: grid;
  grid-template-columns: 160px 1fr 120px;
  animation: fadeIn 0.5s ease-in-out;
  padding: 1em 36px;

  position: fixed;
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  a > img {
    width: auto;
    height: auto;
  }
}

.menu {
  display: none;
}

.activity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  background: transparent;
  padding: 0.5em 0.75em;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 0.75em;
}

.nav-link {
  font-size: 15px;
  padding: 0 1rem;
  opacity: 1;
  color: var(--text-white-color);
  transition:
    opacity 0.1s,
    transform 0.3s;
  p {
    letter-spacing: 0.31px;
  }
  &:hover {
    color: #a1cdff;
    // transform: translateY(4.7px);
  }
}

.active {
  opacity: 1;
  position: relative;
  color: #a1cdff;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.wallet-connect {
  position: absolute;
  left: 36px;
  bottom: 36px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.5em;
  border-radius: 0.5em;
  z-index: 10;
  * {
    font-weight: 400 !important;
    font-family: var(--nm-plex) !important;
    border-radius: 0.5em !important;
    box-shadow: none !important;
  }
}

.btn-grp {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 20px;
}

.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: 76px;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 116px 1fr;
    padding: 24px;
    grid-row-gap: 16px;
    margin-top: 4px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0px;

    a > img {
      height: auto;
      max-width: 100%;
    }
  }

  .btn-grp {
    justify-self: end;
    margin-right: 0;
  }

  .activity {
    order: 1;
    margin: 0;
    font-size: 13px;
    padding-bottom: 3px;
  }

  .nav-links {
    grid-column: span 2;
    order: 2;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 8px;
  }

  .nav-link {
    padding: 0;
    p {
      font-size: 13.5px !important;
    }
  }
}

// .popUp {
//   opacity: 1;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   width: 150px;
//   background: var(--card-sub-surface-color, #dfdfdf);
//   border: 1px solid var(--border-stroke-color);
//   position: absolute;
//   top: 50px;
//   margin-left: -10px;
//   z-index: 10000;
// }

.moreButtonContainer {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  opacity: 0.4;
  transition:
    opacity 0.1s,
    transform 0.3s;

  &:hover {
    opacity: 1;
  }
}

.optionsContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  border-bottom: 1px solid var(--border-stroke-color);
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
}
.dropdownlink:hover {
  background-color: var(--border-stroke-color, #b3b3b3);
  z-index: 1;
  opacity: 1;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 0 0 4px;
}
