.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  width: 100vw;
  margin: 10px auto;

  position: relative;
  padding-top: 10px;
}

.title {
  font-size: 32px !important;
  width: 100%;
}

.infoCard {
  background: var(--card-sub-surface-color, #dfdfdf);
  box-shadow: 6px 6px 0px 0px rgba(17, 17, 17, 0.15);
  border: 1px solid var(--althea-blue);
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 24px;
  position: sticky;
  top: 20px;
  margin-top: 0;
  width: 340px;
  .infoBox {
    display: flex;
    flex-direction: column;
    height: 25%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
