.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  width: 100vw;
  margin: 110px auto 10px auto;

  padding: 0px 36px 0px 36px;

  position: relative;
  padding-top: 10px;
  min-height: 100vh;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px !important;
  margin: 10px auto;

  position: relative;
  padding-top: 2rem;
  height: 100vh;
}

.title {
  font-size: 32px !important;
  width: 100%;
}

.infoCard {
  box-shadow: 6px 6px 0px 0px rgba(17, 17, 17, 0.15);
  background-color: var(--card-sub-surface-color) !important;
  border: 1px solid var(--althea-blue);
  display: flex;
  flex-direction: column;
  height: 400px;
  //padding: 24px;
  top: 20px;
  margin-top: 0;
  .infoBox {
    display: flex;
    flex-direction: column;
    //height: 25%;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    border-top: 1px solid var(--border-stroke-color, #b3b3b3);
    width: calc(100vw);
    margin: 72px auto 10px auto;

    padding: 0px 24px 0px 24px;  
    //gap: 1rem;
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }
  // .infoBox{
  //   display: flex;
  //   flex-direction: column;
  //   height: 25%;
  //   margin-top: 12px;
  //   margin-bottom: 12px;
  //   background-color: var(--card-primary-color, #111111);
  // }
}
