name: Rust tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
         workspaces: backend/
      - name: Check Rita and Rita Exit x86
        run: cd backend ; cargo check --all
  test:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
         workspaces: backend/
      - name: Run Rita and Rita Exit tests
        run: cd backend ; cargo test --verbose --all
  rustfmt:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check code formatting
        run: cd backend ; rustup component add rustfmt && cargo fmt --all -- --check
  clippy:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
         workspaces: backend/
      - name: Check for Clippy lints
        run: cd backend ; rustup component add clippy && cargo clippy --all --all-targets --all-features -- -D warnings
  audit:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
         workspaces: backend/
      - name: Run Cargo Audit
        run: cd backend ; cargo install cargo-audit && cargo audit